/*################
      Colors
################## */
:root {
  --background-main-black: #000000;
  --main-black-grey: #333;
  --main-black-light: #202020;
  --main-green-flow: #2bcc9c;
  --main-white-light: #fff;
  --main-black-opa: #121212;
}
/*################
      Home
################## */
.app {
  background-color: var(--background-main-black);
  color: var(--main-white-light);
}
.font-color-nav {
  color: var(--main-green-flow);
  font-weight: bold;
  text-decoration: none;
}
.font-color-nav:hover {
  color: var(--main-white-light);
  font-weight: bold;
  text-decoration: none;
}
.bg-black {
  background-color: var(--main-black-light) !important;
}

.banner {margin-top: 50px;}

.banner__img {
  border-radius: 20px;
  border: 1px solid var(--main-green-flow);
}
.banner__paragraph--container{
  text-align: center;
}
.banner__paragraph {
  text-align: center;
  text-justify: justify;
  font-size: 25px;
  margin-top: 50px;
  font-family: "Pulso", sans-serif;
  letter-spacing: 0.38px;
}
.banner__paragraph--span {
  color: var(--main-green-flow);
}
.banner__paragraph--flow {
  width: 60px;
  height: 60px;
  text-align: center;
}

.title__secundary{
  text-align: center; 
  margin-top: 100px;
  margin-bottom: 50px
}

.title__secundary--h2 {
  text-align: center;
  font-size: 32px;
  font-family: "Pulso", sans-serif;
  letter-spacing: 0.38px;
}

.personal {
  background-image: url(./img/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
}
.personal__container{text-align: center;}

.personal__container--title {
  font-size: 24px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 15px;
}
.personal__container--paragraph {
  font-weight: 300;
  margin-bottom: 15px;
}
.personal__container--button {
  background-color: var(--main-green-flow);
  border: none;
  color: var(--main-black-opa);
}
.personal__container--button:hover {
  background-color: var(--main-white-light);
  border: solid 1px var(--background-main-black);
  color: var(--main-green-flow);
}

.oferta {
  text-align: center;
  margin-top: 100px;
}
.oferta__card {
  margin-bottom: 50px;
  text-align: center;
  background-color: var(--main-black-grey);
  width: 100%;
  color: var(--main-white-light);
  padding: 10px 0 2px 0;
  border-top: var(--main-green-flow) 7px solid;
}
.oferta__card--header {
  background-color: var(--main-black-light);
  margin-top: -3%;
  padding: 20px;
}
.oferta__card--span{
  color: var(--main-green-flow);
}
.oferta__card--sub{
  font-size: 10px;
}
.oferta__card--body{
  text-align: left;
  padding-left: 40px;
}
.oferta__card--icon {
  color: var(--main-green-flow);
  margin-right: 20px;
}
.oferta__card--button {
  text-align: center !important;
  background-color: transparent;
  border: solid 1px var(--main-green-flow);
  color: var(--main-green-flow);
  margin-top: 50px;
}
.oferta__card--button:hover {
  background-color: var(--main-green-flow);
  border: solid 1px var(--main-white-light);
  color: var(--background-main-black);
}
.oferta__card--price {
  font-size: 50px;
}
.oferta__card--div{text-align: center;}

.responsive__app{
  margin-top: 15px;
}
.responsive__app--container{
  text-align: center;
}
.responsive__app--title{
  margin: bottom 20px;
}
.responsive__app--span{
  color: var(--main-green-flow);
}
.responsive__app--logos {
  margin-top: 30px;
  margin-bottom: 30px;
}
.responsive__app--logo--tv {
  text-align: center;
  line-height: 1;
  color: var(--main-white-light);
  background: url(./img/tv.svg) no-repeat;
  padding: 16px 28px;
  margin-left: 17px;
}
.responsive__app--logo--pc {
  text-align: center;
  line-height: 1;
  color: var(--main-white-light);
  background: url(./img/pc.svg) no-repeat;
  padding: 10px 22px;
  margin-left: 17px;
}
.responsive__app--logo--tb {
  text-align: center;
  line-height: 1;
  color: var(--main-white-light);
  background: url(./img/tablet.svg) no-repeat;
  padding: 5px 9px;
  margin-left: 17px;
}
.responsive__app--logo--tf {
  text-align: center;
  line-height: 1;
  color: var(--main-white-light);
  background: url(./img/smartphone.svg) no-repeat;
  padding: 0px 7px;
  margin-left: 17px;
}
.responsive__app--button{
  background-color: var(--main-green-flow);
  border: none;
  color: var(--main-black-opa);
  margin-bottom: 20px;
}
.hidden{
 display: none;
}
.responsive__app--button:hover{
  background-color: var(--main-white-light);
  border: solid 1px var(--background-main-black);
  color: var(--main-green-flow);
}

/*################
      Weather
################## */

.select__weather {
  border: solid 3px var(--main-green-flow);
}
.select__weather--option{
  text-align: center;
}

.select-weather {
  border: solid 3px var(--main-green-flow);
}

.weather__current--container {
  margin-top: 60px;
  background-color: var(--main-black-grey);
  padding: 10px;
  border: var(--main-green-flow) 2px solid;
  border-radius: 10px;
  height: 250px;
}
.weather__current--content{
  margin-top: 40px;
  margin-left: 30px;
}
.weather__current--temp {
  margin-left: 20px;
}
.weather__current--title {
  font-size: 70px;
}
.weather__current--img {
  text-align: center;
}
.weather__current--img--description{
  margin-top:20px;
}
.weather__current--list{
  list-style: none;
  margin-top: 20px;
}
.weather__current--icon {
  background-color: var(--main-white-light);
  color: var(--background-main-black);
  margin-right: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 8px;
}
.weather__current--lista {
  margin-bottom: 10px;
}

.pronostico__title--h3{
  margin-top: 20px;
}

.pronostico__future{
margin-top: 30px;
margin-bottom: 30px;
}
.card__forecast{
  background-color: var(--main-black-grey);
  width: 100%;
  height: 100%;
  color: var(--main-white-light);
  padding: 10px 0 2px 0;
  border-top: var(--main-green-flow) 7px solid;
}
.card__forecast--img{
  width: 50px;
  text-align: center;
}
.card__forecast--title{
  font-size: 20px;
}
.card__forecast--body{
  margin-left: 10px;
}
.card__forecast--tempmax{
  font-size: 20px;
  margin-top: 10px;
}
.card__future--container{
  margin-bottom: 10px;
}
.spinner{
flex-grow: 1;
border-radius: 0;
text-align: center;
height: 100vh;
}
.spinner__gif{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner__hidden{
  display: none;
}
.img-responsive{
  max-width: 100%;
  height: auto;
  display: block;

}
.App-logo-spin {
  width: 100px;
  text-align: center;
}

/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .personal {
    background-image: url(./img/bannerMobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
  }

  .title__secundary{
    text-align: center; 
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .weather__current--content{
    margin-top: 0px;
    margin-left: 30px;
    font-size: 12px;
  }
  .weather__current--container-mobile{
    height: 340px;
  }
}
/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .oferta__card--header {
    background-color: var(--main-black-light);
    margin-top: -1%;
    padding: 20px;
  }
  .weather__current--content{
    margin-top: 60px;
    margin-left: 30px;
  
  }
  
}
/* // Large devices (desktops, 992px and up) */
@media (max-width: 1024px) {
  .banner__paragraph {
    text-align: center;
    text-justify: justify;
    font-size: 20px;
    margin-top: 40px;
    font-family: "Pulso", sans-serif;
    letter-spacing: 0.38px;
  }
  .weather__current--content{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 12px;
  }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}








